.payment-history {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 50px);
}

.usage-history__table-item--no {
  width: 5%;
}

.usage-history__table-item--name {
  width: 10%;
}

.usage-history__table-item--phone {
  width: 15%;
}

.usage-history__table-item--category {
  width: 15%;
}

.usage-history__table-item--task {
  width: 10%;
}

.usage-history__table-item--charge {
  width: 15%;
}

.usage-history__table-item--agency {
  width: 10%;
}
.usage-history__table-item--date {
  width: 20%;
}
