.company-management {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 50px);
}

.company-management__button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.company-management__button-select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 35px;
}

.company-management__button-select.primary {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #1b3133;
  border-right: none;
  border-top-left-radius: 200px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 200px;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: #1b3133;
    color: #fff;
  }
}
.company-management__button-select.secondary {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  border: 1px solid #1b3133;
  border-top-left-radius: 0;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 200px;
  border-bottom-left-radius: 0;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: #1b3133;
    color: #fff;
  }
}

.company-management__button-select.active {
  background-color: #1b3133;
  color: #fff;
}

.company-management__button-edit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 30px;
  margin-top: 14px;
  padding: 0 12px;
  border: 1px solid #1b3133;
  border-radius: 8px;
  background: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  &:hover {
    background-color: #1b3133;

    span {
      color: #fff;
    }

    svg path {
      fill: #fff;
    }
  }
}

.company-management__button-edit-text {
  color: #1b3133;
  font-size: 14px;
  font-weight: 600;
  margin-left: 6px;
}

.company-management__button-add-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 50px;
}

.company-management__button-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80px;
  height: 30px;
  margin-top: 14px;
  padding: 0 12px;
  border: 1px solid #1b3133;
  border-radius: 8px;
  background: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &:hover {
    background-color: #1b3133;

    span {
      color: #fff;
    }

    svg path {
      stroke: #fff;
    }
  }
}

.company-management__button-add-text {
  color: #1b3133;
  font-size: 14px;
  font-weight: 600;
  margin-left: 6px;
}

.usage-history__table-item--no {
  width: 5%;
}

.usage-history__table-item--company {
  width: 15%;
}

.usage-history__table-item--representative {
  width: 10%;
}

.usage-history__table-item--phone {
  width: 20%;
}

.usage-history__table-item--email {
  width: 20%;
}

.usage-history__table-item--account {
  width: 20%;
}

.usage-history__table-item--holder {
  width: 10%;
}

.search-bar__category-dropdown-select {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 25px;
  font-size: 13px;
  font-weight: 600;
  color: #1b3133;
  border: none;
  outline: none;
  cursor: pointer;
  appearance: none;
  user-select: none;
}

.company-management__button-edit.done {
  background-color: #1b3133;
}

.company-management__button-edit.done span {
  color: #fff;
}

.agency__info-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 400px;
  padding: 24px;
  margin-top: 10px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background-color: #fff;
}

.agency__info-input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
}

.agency__info-input-wrapper.head {
  justify-content: center;
  height: 70px;
  margin-bottom: 24px;
}

.agency__info-input-wrapper.head span {
  font-size: 28px;
  font-weight: 700;
}

.agency__info-input-wrapper.secondary,
.agency__info-input-wrapper.tertiary {
  margin-top: 40px;
}

.agency__info-input-wrapper.tertiary {
  height: 80px;
}

.agency__info-input-wrapper.fourth {
  justify-content: flex-end;
  height: 40px;
}

.agency__info-input-wrapper.fourth button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 32px;
  border: 1px solid #1b3133;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  font-size: 16px;
  font-weight: 600;
  background: #fff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;

  &:hover {
    background: #1b3133;
    color: #fff;
  }
}

.agency__info-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 310px;
  height: 30px;
}

.agency__info-input-label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: #1b3133;
  width: 70px;
  margin-right: 10px;
}

.agency__info-input-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #1b3133;
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  letter-spacing: 0.03em;
  outline: none;
}

.agency__info-account-input-wrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
}

.agency__info-input.account {
  display: flex;
  height: 100%;
  align-items: flex-start;
}

.agency__info-input.holder {
  display: flex;
  height: 100%;
  align-items: flex-start;
}

.agency__info-input-label.account,
.agency__info-input-label.holder {
  margin-top: 3px;
}

.modal.second {
  display: none;
}

.agency__info-input-container {
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 5px 10px 10px 1px rgba(0, 0, 0, 0.3);
  animation: slideDown 0.3s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
