<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/chatbot-front/css/common.css" />
    <link rel="stylesheet" href="../../static/chatbot-front/css/home.css" />
    <title>Home</title>
  </head>
  <body>
    <div class="home">
      <div class="content">
        <img
          src="../../static/chatbot-front/images/logo.jpg"
          alt="logo"
          class="content__logo"
        />
        <span class="content__title">사용하실 언어를 선택해 주세요.</span>
        <div class="content__select">
          <a href="./index.html" class="content__select-button">한국어</a>
          <a href="./index.html" class="content__select-button">English</a>
          <a href="./index.html" class="content__select-button">中國語</a>
        </div>
      </div>
    </div>
  </body>
</html>
