<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/chatbot-front/css/common.css" />
    <link rel="stylesheet" href="../../static/chatbot-front/css/start.css" />
    <title>Index</title>
  </head>
  <body>
    <div class="index">
      <div class="content">
        <img
          src="../../static/chatbot-front/images/logo.jpg"
          alt="logo"
          class="logo"
        />
        <div class="description__container">
          <span class="description__text"
            >국내최고 이민행정전문가와 <br />
            챗GPT가 만난 비자24입니다.</span
          >
          <span class="description__text"
            >복잡한 출입국외국인청 비자<br />
            신청에 필요한 필수서류는 <br />
            비자24에서 확인하세요.</span
          >
          <!-- <span class="description__text"
            >법무부출입국업무 대행기관<img
              src="../../static/chatbot-front/images/moj.png"
              class="description__image"
          /></span> -->
          <span class="description__text"
            >서류작성과 출입국업무대행도 즉시 <br />
            신청 가능한 챗봇플랫폼, 비자24입니다.</span
          >
        </div>
        <a href="./chatbot.html" class="start-button">시작하기</a>
      </div>
    </div>
  </body>
</html>
