<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/chatbot-front/css/common.css" />
    <link rel="stylesheet" href="../../static/chatbot-front/css/start.css" />
    <title>Index</title>
  </head>
  <body>
    <div class="index">
      <div class="content">
        <img
          src="../../static/chatbot-front/images/logo.jpg"
          alt="logo"
          class="logo"
        />
        <div class="description__container">
          <span class="description__text">안녕하세요. 비자24입니다.</span>
          <span class="description__text"
            >출입국 비자 업무에 필요한<br />서류정보, 비자24에서
            확인하세요.</span
          >
          <span class="description__text"
            >법무부출입국업무 대행기관<img
              src="../../static/chatbot-front/images/law.png"
              class="description__image"
          /></span>
          <span class="description__text"
            >수원국제행정사사무소에서<br />서류작성 및 업무대행도 한 번에<br />신청
            가능합니다.</span
          >
        </div>
        <a href="./chatbot.html" class="start-button">시작하기</a>
      </div>
    </div>
  </body>
</html>
