.chatbot {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
}

.head {
  display: flex;
  width: 400px;
  height: 60px;
  background-color: antiquewhite;
}

.content {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 515px;
  overflow-y: auto;
  background-color: #e9f0fc;
}

.bottom {
  display: flex;
  width: 400px;
  height: 60px;
  background-color: antiquewhite;
}
